<%= render 'layouts/header', title: "Update Food" %>

<div class="container-fluid">
	<div class="row">
		<% # Note: The sidebar takes up 3 cols (out of 12) %>
		<%= render 'layouts/sidebar' %>

		<div class="col-lg-4">
			<%= render 'form' %>
		</div>
	</div>
</div>